body {
  background-color: #FCF5E5;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

image {
  height: 20px;
}

h1,h3{
  color: #2BAE66FF;
}

th {
  color: #262626;
}
